<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div th:each="user : ${users}">
        <a th:text="${user.getId()} + '. ' + ${user.getFirstName()} + ' ' + ${user.getLastName}"/>

        <form th:method="DELETE" th:action="@{/admin?id={id}(id=${user.getId()})}">
            <input type="submit" value="Delete!">
        </form>

        <form th:action="@{/admin/update?id={id}(id=${user.getId()})}" th:method="GET">
            <input type="hidden" name="id" th:value="${user.getId()}">
            <input type="submit" value="Edit"/>
        </form>
        <hr/>
    </div>
    <br/>
    <hr/>
    <a href="admin/new">Create new user!</a>
    <hr/>
    <a href="/user/myPage"> Go to my page!</a>

    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout"/>
    </form>

</body>
</html>